$red: #FD1015;
$blue: #0000FF;
$yellow: #f0f32f;
// $yellow: #FFC65A;
$orange: #E67E22;
$green: #58FF8A;
$gray: #0000FF;
// $gray: #0E0000;
$light-gray: #95A0A7;
$dark-gray: #29455cd0;
// $dark-gray: #444A4F;



// $light-gray: #ac9f9ff1;
// $light-gray: #F4F4F4;