@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap_variables';
       
@import 'bootstrap/scss/bootstrap';

body {
  background: linear-gradient(to bottom, (rgba(5,117,230,0.5), rgba(0,242,96,0.5)));
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: blue;
  min-height: 100vh;
  min-width: fit-content;
}


.card {
  margin-top: 10px;
  margin-left: 1rem;
  box-shadow: 0 5px 10px -2.5px;
  border-radius: 10px;
  width: 17rem;
  height: 22rem;
  background-image: linear-gradient( rgba(255, 255, 255, 0.747)), url("/assets/bricks.svg");
  // background-image: linear-gradient(rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.747)), url("/assets/bricks.svg");
}

.card-body {
  opacity: 0.7;
  background-color: #95A0A7;
  // background-color: rgba(217, 227, 233, 0.13);
}

// image login card
.img_login {
  margin:3px;
}


// building card
.card-title-height {
  height: 2rem;
}
.address-height {
  height: 3rem;
  // color: red;
}


// footer
.bg-image {
  opacity: 0.6;
  background-image: url("/assets/city_skyline.png") ;
  background-repeat: repeat-x;
  height: 110px;
}


// input:focus {
//   border-color: #FF0000;
//   box-shadow: inset 0 1px 1px rgba(11, 98, 238, 0.308), 0 0 8px rgba(3, 170, 248, 0.6);
// }